[2020-04-09 09:41] romangraef opened #5 "Feature Request: Debug run"
Are there plans for this plugin to support a debug run feature? This could be implemented using an extra task. If there is no such thing planned, i might even do it myself, if other interest exists.

[2020-04-09 10:49] EntryPointKR commented on #5
Can you please explain what exactly the "debug run" do?
There are no such debug feature and no plans now, but if is it helpful, I will consider to add it.

[2020-04-09 16:04] romangraef commented on #5
Sorry if i was being unclear. I meant something like a in-IDE run, or a server run using the gradle project. Using forge as an example, there is a gradle task that start a modded client with your mod installed. I was thinking of something similar by simply downloading buildtools and creating a server instance with your plugin installed automatically.

[2020-04-10 07:10] EntryPointKR commented on #5
Thanks for the explain :)

[2020-05-01 20:12] Silthus opened #6 "Error when trying unit junit tests"
First off, thanks for the great resource!

However if I try to run tests using [MockBukkit](https://github.com/seeseemelk/MockBukkit) I get the error that no `plugin.yml` can be found.

Is there a way to create a tasks that generates the `plugin.yml` so it can be used by unit tests?

Thanks!

[2020-05-02 00:47] EntryPointKR commented on #6
Hi! Thanks for sharing your experience.

If you tried MockBukkit.load() for loading a plugin, then it will cause the error because Spigradle doesn't generate plugin.yml into resources folder like `src/main/java/resources/plugin.yml`.
But it will be stored in `build/tmp/spigotPluginYaml/plugin.yml`.

Accroding to above information, we can try these option:
1. Use loadWith(Class, File)
`MockBukkit.l

[2020-05-03 06:51] Silthus commented on #6
Thanks! I used the second option and it worked :)

[2020-05-03 06:51] #6 closed

[2020-05-03 06:56] NickAcPT commented on #5
Would also love to see this! It would make a lot of development simple.

For CraftBukkit and Spigot, we'll need to run buildtools. For Paper, they have a web API where you can use to directly download a Paperclip jar that automatically patches the vanilla jar.

[2020-05-03 10:41] Silthus commented on #6
//UPDATE:

I switched to your recommended, first method. Having a plugin.yml in the resources folder creates a duplicate plugin.yml inside the final .jar

[2020-05-03 18:57] romangraef commented on #5
I almost forgot about this. I can definitely provide some working code for it, however it is in form of a buildSrc/ folder right now, and i have a few too many comissions to do normal open source work and convert it into a plugin extension. If anyone is interested i can do that, but i think we should think about the actual structure of this inbefore.

[2020-05-03 21:32] NickAcPT commented on #5
I'd maybe suggest adding a task named `runServer`. And, when started, it'll make a `run` folder on the project folder (like ForgeGradle), if it not exists.
That folder will then have the server files.
It would be nice to have a way to add other plugins (like dependencies or something else).
Also, if possible, make it pass `nogui` or let us pass arbitrary arguments to the task.

[2020-05-03 22:26] EntryPointKR commented on #6
Oh right. if you want to do second option, change 'main' to 'test'

[code]

Then, it will not contains duplicate plugin.yml, also it will not fail at first execution.

[2020-05-03 22:38] romangraef commented on #5
Yes, that + as project extension for easy configuration of the server. (Like maybe an auto eula accept option, or command arguments). However I'm not quite sure how you make project extensions available using gradle projects.

[2020-05-04 01:58] NickAcPT commented on #5
I think FG allows the users to configure stuff directly from Gradle.
Would be nice to make it so anyone can just `git clone` a project and start working on it and having it ready to run.

[2020-05-11 10:10] portlek commented on #5
breakpoints can be useful when someone who write plugins.

[2020-05-11 19:29] romangraef commented on #5
i dont think breakpoints can be easily done without bootstrapping the server directly (which might be possible, but would be very hard)

[2020-05-11 19:31] portlek commented on #5
its possible but before that this debug stuffs should finish. breakpoints are depend debug tools.

[2020-05-11 21:06] NickAcPT commented on #5
Don't think you need to complicate everything. Running the server JAR inside Intellij already works wonders. If the code is loaded, the debugger should set a breakpoint automatically.

[2020-05-11 21:38] romangraef commented on #5
Oh, right, you can run the jar directly in intellij.

[2020-05-15 10:45] portlek commented on #5
The main reason to should be that is not just running debug mode, also running a real sever by C.I. This feature will be helpful in this case too.

[2020-05-15 10:48] portlek commented on #5
I added this feature into my scope. I will try to make it.

[2020-05-24 01:40] TheAifam5 commented on #5
There u can get some inspirations:
- https://gitlab.com/Firestar99/spigotgradle
- https://github.com/EndlessCodeGroup/BukkitGradle

:)

[2020-05-25 02:29] NickAcPT commented on #5
Although the things posted by @TheAifam5 are a start, please don't make Spigradle download Spigot builds off wonky of websites. The best is to download BuildTools and build it manually as builds on those websites are usually outdated at best, and dubious at worse.

For Paper, there's their Paperclip tool which automatically downloads and patches a vanilla jar, so you can run it pretty easily. I kn

[2020-05-25 06:05] EntryPointKR commented on #5
Thanks for all the nice discussion, yeah I'll use BuildTools for build spigot also paper.
Recently I completed migration to kotlin, support nukkit and bungeecord. so now priority is debug run things.
I'll consider to implement passing parameters like nogui, accept eula, download dependency plugins. And, good to hear that you'll make breakpoint feature @portlek.

[2020-05-25 06:22] NickAcPT commented on #5
@EntryPointKR I'm happy to see improvements being done as time goes on.

I'm not sure if in here you meant that you were gonna use Build Tools to build Spigot *and* Paper. I'm asking because just wanted to make it clear that only Spigot requires Build Tools action.

Breakpoints are supposedly done by the debugger and shouldn't need extra code.

[2020-05-25 07:16] EntryPointKR commented on #5
@NickAcPT Good point! I didn't research about paper build yet, so I thought that need to build paper using paper's build tool. but it can be done by paperclip.
And I something misinterpreted. as portlek said breakpoint, I thought it is some special feature because I saw he's code that generates IDEA xml on he's repository.
Before implement these things, I really need to research about it.

[2020-05-25 07:38] EntryPointKR commented on #5
But I'm sharing about its importance. I will implement it carefully.

[2020-05-25 11:25] TheAifam5 commented on #5
@NickAcPT wait what? They use the official build jar file ;D

[2020-05-25 11:58] NickAcPT commented on #5
I feel like you're talking about getbukkit. It's usually not a good way to get your JARs. As I've mentioned previously, they're usually pretty much outdated.

[2020-05-25 13:27] portlek commented on #5
https://github.com/EndlessCodeGroup/BukkitGradle
this plugin is using original BuildTool.jar file.

[2020-05-25 18:31] TheAifam5 commented on #5
@NickAcPT I know what I am talking about:

https://github.com/EndlessCodeGroup/BukkitGradle/blob/711bd72fe9a04564d66ab747ddfa4dcfbb726ba9/src/main/groovy/ru/endlesscode/bukkitgradle/server/ServerCore.groovy#L104

https://gitlab.com/Firestar99/spigotgradle/-/blob/master/src/main/java/firestar99/spigotgradle/server/SpigotServerPlugin.java#L28

[2020-05-25 18:33] NickAcPT commented on #5
@TheAifam5 That is BuildTools and I know.. But I was talking about when you mentioned getbukkit and telling you that you shouldn't use it.

[2020-05-25 18:36] TheAifam5 commented on #5
@NickAcPT that's why I removed it. It was my attempt to build but then I realize that's bad idea and was throwing the warning that is outdated.

[2020-05-26 16:23] EntryPointKR commented on #5
I pushed up the prototype of tasks that BuildTools and RunServer just now. (spigot only in this time)
Demo is here: https://github.com/EntryPointKR/Spigradle/blob/bc673db7fdd53dc3996530b1d4d70424e8655d02/src/test/kotlin/kr/entree/spigradle/spigot/PrepareServerTest.kt
Pull request: #9
It is not completed yet, still in progress of development. if you find things that some weird or improvements in th

[2020-05-26 19:47] NickAcPT commented on #5
I'd say to either allow the user to use something like Spiget and download through Spigot, or have them manually put the jar file.

[2020-05-27 03:57] EntryPointKR commented on #5
Yep, I'll allow manual placing the jars.

[2020-06-09 06:52] EntryPointKR commented on #5
Okay, the debug tasks seems done.
Now you guys can try it out by cloning this project: [SpigradleSample](https://github.com/EntryPointKR/SpigradleSample).
Execute task `debugPaper` or `debugSpigot` will startup the server with plugins.
Command: `./gradlew debugPaper` or `./gradlew debugSpigot`

List of debug tasks: `downloadSpigotBuildTools, cleanSpigotBuild, buildSpigot, prepareSpigot, runSpigot,

[2020-06-09 08:29] NickAcPT commented on #5
Instead of "debug", wouldn't it be less confusing if it was named "run"?

[2020-06-09 10:03] EntryPointKR commented on #5
@NickAcPT The `runSpgiot` already used as subtask of `debugSpigot`.
More further, the `debugSpigot` is just lifecycle task(no function) that depends on tasks `downloadBuildTools`, `preparePlugins`, `runSpigot`. the reason of division into subtask is for flexibility, it will be documented in wiki soon. I agree about confusing between run and debug. it can be renamed.

[2020-06-09 11:15] TheAifam5 commented on #5
Do we need “debug” task if run is already there?

[2020-06-09 12:19] EntryPointKR commented on #5
The `runSpigot` task just runs the jar at specified path with configured arguments, and accepts EULA if user agreed.
But the `debugSpigot` nothing to do itself, but executes tasks `preparePlugin`, `prepareSpigot`, `runSpigot`. That means:

`preparePlugin`([Copy](https://docs.gradle.org/current/javadoc/org/gradle/api/tasks/Copy.html)): It will copy the project artifact jar and dependency plugins(li

[2020-06-09 14:43] EntryPointKR commented on #5
I thought the runSpigot can be used some special case. but if it not worth,  I'll consider to merge two task run and debug.

[2020-06-09 20:03] TheAifam5 commented on #5
I think so. Using local jar could be set as a flag or a path to the jar, otherwise would execute the debug tasks you mentioned.

[2020-06-15 01:15] EntryPointKR commented on #5
I think more about that, the use case is
1. Any task can [depend on](https://docs.gradle.org/current/javadoc/org/gradle/api/Task.html#dependsOn-java.lang.Object...-) runSpigot, not debugSpigot.
2. Run the server without any preparing tasks, prepareSpigot and preparePlugins.

The first one is useless. second, if a user want to avoid prepare tasks, the user can just [disable](https://docs.gradle.org

[2020-06-24 15:20] EntryPointKR commented on #5
Sorry for being too late, the 1.3.0 released just now.
You can find the migration tips at [Spigot Migration Tips](https://github.com/EntryPointKR/Spigradle/blob/master/docs/spigot_plugin.md#migration-tips).
If you had a problem with it, please open a new issue.

Still the usage is:
[code]

See also:
[The Spigot plugin](https://github.com/EntryPointKR/Spigradle/blob/master/docs/spigot_plugin.md)
[T

[2020-06-24 15:20] #5 closed

[2020-06-25 14:48] Silthus opened #12 "Respect semantic versioning"
Hi,
first off thanks for the awesome gradle plugin and improvements in version 1.3.0.

However it would be nice if semantic versioning rules are honored and the major version is bumped if there are breaking changes.

If you want I can also help with setting up a fully automated release workflow using [semantic-release](https://github.com/semantic-release/semantic-release) that does the following f

[2020-06-25 20:05] Silthus opened #13 "1.3.0: @PluginMain does not work on subclasses of JavaPlugin"
There is a bug in `1.3.0` where the plugin fails to find the correct main class annotated wit `@PluginMain` if it is not a direct subclass of `JavaPlugin`.

This works:

[code]

This does not work, but worked in the version before `1.3.0`:

[code]

[code]

[2020-06-26 12:50] EntryPointKR commented on #13
Hi Silthus, it should be fixed by 68ea84c.
Currently 1.3.1-SNAPSHOT is available on the repository https://oss.jfrog.org/artifactory/oss-snapshot-local/.
This will released soon.

Apply example:

[code]

If still happen the bug, please reopen the issue. Thanks!

[2020-06-26 12:50] #13 closed

[2020-06-26 13:48] EntryPointKR commented on #12
Good to know. about the versioning, I think must continue to 1.3.1 because 1.3.0 already published. on the next breaking change I'll bump up the major. but if it's okay to publish 2.0.0 instead of 1.3.1, I'll do it.
About semantic-release, it looks nice. I actually had pain in writing changelogs. I'll consider to install it with TeamCity if possible.

[2020-06-27 09:54] Silthus commented on #12
Awesome, thank you!

Send me a message on Discord (Silthus#4973) if you have any questions or need some help.

[2020-06-27 15:39] EntryPointKR commented on #12
Thanks, @Silthus!

[2020-06-27 15:39] #12 closed

[2020-06-27 15:46] EntryPointKR commented on #13
1.3.1 is published, now we can apply 1.3.1 in plugins {} block.

[2020-06-30 05:09] EntryPointKR commented on #12
No, rather than continue to 1.x, release 1.4 with restore breaking changes, and continue to 2.0 would be better. I'll release both versions.

[2020-07-01 21:06] Silthus opened #15 "debugSpigot/Paper copies *-sources.jar instead of primary plugin"
Thanks for the fix in 1.3.1 with the inherited plugin class, it works now :)

However I found another bug that has to do with the `debugSpigot` and the other `debug*` tasks. When I configure gradle to compile my project with sources and javadocs, the sources jar gets copied into the plugins folder.

[code]

![image](https://user-images.githubusercontent.com/755327/86291536-5d975c80-bbef-11ea-88b2-

[2020-07-01 21:09] Silthus opened #16 "ending debug task from within IntelliJ hangs the process and locks the files"
When I run the `debugSpigot` task and then "end/kill" it from within IntelliJ it leaves the process open and locks the plugin JARs.

![image](https://user-images.githubusercontent.com/755327/86291790-d696b400-bbef-11ea-8d43-d5bbbf538bc4.png)

I need to go into the taskmanager and kill the open JVM process for the lock to be released. Before that I cannot delete or update the plugins in the debug/p

[2020-07-02 16:06] #15 closed

[2020-07-02 16:10] EntryPointKR commented on #15
Hi @Silthus, thanks for the report. it should be fixed now.

[2020-07-02 17:27] EntryPointKR commented on #16
Hmm. previously I also had this problem, but now weirdly cannot reproduce it.
Moreover, I'm not sure able to fix it even If I get to reproduce because it seems just disconnecting from IntelliJ and the task still being executed.

Is the process still kept even you clicked the red square button (not the X button) you specified on the image?
A suggestion is, terminate it using 'stop' command for the

[2020-07-02 20:38] Silthus commented on #16
Mmh I can't reproduce it now either. Strange...

I also got a workaround, at least with IntelliJ. The "workaround" also enables me to do a one click server debugging and can hit breakpoints for plugins in onEnable without getting stressed to attach the debugger.

I use the following IntelliJ run configuration:

[code]

[2020-07-03 04:57] EntryPointKR commented on #16
That's really nice. if we want to run Paper, the `downloadPaper` can be used as a replacement of `prepareSpigot`.
I'll automate it to generate in IDEA support.

[2020-07-03 09:13] EntryPointKR commented on #16
I tried to implement it, but unfortunately, there's no particular support for the RunConfiguration `JarApplication` in Gradle plugin `idea-ext-plugin`.
If I handle the raw XML, I can achieve it but don't want to do it. But, there's the `Application` - can we execute the jar using it? It seems to require `Main class`.

[2020-07-03 20:43] Silthus commented on #16
Mmh I am not sure either. Maybe fork the `idea-ext-plugin` and add the required task?

[2020-07-04 05:06] EntryPointKR commented on #16
Yeah, I opened a pull request for the `JarApplication` generation. If it merged, maybe this feature becomes on the next version of IDEA.

[2020-07-05 18:14] vladfrangu opened #20 "Spigradle v1.3.0 and further causes builds to fail due to kapt"
Hello!

Honestly, I don't really know who's to blame here. We're working on our plugin's v2 version (visible at https://github.com/DumbDogDiner/StickyWallet/tree/2.0.0). We've gone through and upgraded a lot of dependencies, however migrating from Spigradle 1.2.4 to 2.0.0 causes compilation errors.

With v2.0.0, we get the following error:

<details>
<summary>kapt error</summary>

[code]

</detail

[2020-07-06 03:32] EntryPointKR commented on #20
Hi @vladfrangu, I think there's a problem with `StickyPlugin.kt` in the 2.0.0 branch.
I'm not sure you used some compiler plugin, but I could resolve the error by just add the package info on [StickyPlugin.kt](https://github.com/DumbDogDiner/StickyWallet/blob/2.0.0/src/main/kotlin/stickyWallet/StickyPlugin.kt#L1); maybe you need to use `refactoring` feature on your IDE.
If you still have a problem

[2020-07-06 08:35] vladfrangu commented on #20
Hey, thanks for the reply!

Question, what do you mean "by just add the package info on StickyPlugin.kt"? I'm using IntelliJ Idea if that matters. Does that mean creating a `package-info.java` file? If so, what contents did it have? I created a simple one with

[code]

But nothing changed. Thanks!

[2020-07-06 08:37] vladfrangu commented on #20
Ha, I figured it out, by just noticing the TINY ~ underneath the class keyword in the StickyPlugin.kt file. Apparently, it was missing a `package stickyWallet` at the top; everything works now! Thanks and sorry for this 😅

[2020-07-06 08:37] #20 closed

[2020-07-06 11:26] EntryPointKR commented on #20
My pleasure, keep your great job :)

[2020-07-07 20:00] Silthus commented on #13
Mmh I seem to have the same error again in `2.0.0`. Did you maybe rollback this fix with the rollback of `1.3.0`?

[2020-07-08 01:44] EntryPointKR commented on #13
No, I didn't rollback this fix. I can't reproduce currently but it caused by Gradle UP-TO-DATE check, please provide your version of Gradle wrapper in your project for further investigation.

[2020-07-08 07:22] Silthus commented on #13
I am able to reproduce the bug with a clean clone of this repository: https://github.com/Silthus/sInventoryKeeper/
I clone it, run a gradle import, then removed the `main` class reference from `build.gradle` and started a build.

Then the bug occurs. Does this help you?

[2020-07-08 10:55] EntryPointKR commented on #13
Yeah, I can now. Thanks!

[2020-07-08 14:28] EntryPointKR commented on #13
:tada: This issue has been resolved in version 2.0.1 :tada:

The release is available on:
- `v2.0.1`
- [GitHub release](https://github.com/spigradle/spigradle/releases/tag/v2.0.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-07-08 15:27] EntryPointKR commented on #13
It should be fixed by https://github.com/spigradle/spigradle-annotations/commit/314c10f38d82a46183d052e79363af70d2eb6878

[2020-07-10 08:17] Silthus commented on #13
Yes that fixed it. Thanks!

[2020-07-10 21:09] portlek opened #23 "cannot find main class in multi-module situation."
Images say everything. spigradle can't find the main class although I wrote the main property to the spigot { here }.
![image](https://user-images.githubusercontent.com/12835420/87203110-9da2c180-c30a-11ea-9879-43920c2208f6.png)
![image](https://user-images.githubusercontent.com/12835420/87203127-a4c9cf80-c30a-11ea-8ac8-0eb396131804.png)
![image](https://user-images.githubusercontent.com/12835420/

[2020-07-11 03:47] EntryPointKR commented on #23
Hi @portlek, that seems caused by unconfigured `spigot` in the root project.
To avoid this, use buildscript instead of plugins DSL for apply Spigradle, and apply in the subprojects {} block:
[code]
If still a matter, please provide the source code for reproducing.

[2020-07-11 10:03] portlek commented on #23
I couldn't make it ;(
https://github.com/Infumia/BlockLimiter

[2020-07-11 11:32] EntryPointKR commented on #23
Your project seems the `JavaPlugin` used in the `blocklimiter-plugin`, and used the shortcut `spigot()` in the `blocklimiter-nms`.
Therefore, the solution is:

1. Replace to the base plugin `kr.entree.spigradle.base` from [build.gradle#L2](https://github.com/Infumia/BlockLimiter/blob/master/build.gradle#L2) and [build.gradle#L9](https://github.com/Infumia/BlockLimiter/blob/master/build.gradle#L9)

[2020-07-11 11:47] portlek commented on #23
![image](https://user-images.githubusercontent.com/12835420/87223406-5c032c80-c385-11ea-9733-3fe9521945da.png)
![image](https://user-images.githubusercontent.com/12835420/87223409-60c7e080-c385-11ea-9a4a-856d523d77ab.png)
i didnt but its not working
![image](https://user-images.githubusercontent.com/12835420/87223414-6cb3a280-c385-11ea-82ec-f0bf25ac5edb.png)

[2020-07-11 11:49] portlek commented on #23
ok i did with  removing the version from blocklimiter-plugin.

[2020-07-11 11:49] #23 closed

[2020-07-13 18:12] EntryPointKR commented on #16
Good news, the PR https://github.com/JetBrains/intellij-community/pull/1405 was merged.
Now I can implement the `JarApplication` generation :)

[2020-07-23 07:30] #16 closed

[2020-07-23 07:35] EntryPointKR commented on #16
:tada: This issue has been resolved in version 2.1.0 :tada:

The release is available on:
- `v2.1.0`
- [GitHub release](https://github.com/spigradle/spigradle/releases/tag/v2.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-07-23 07:36] EntryPointKR commented on #16
This will be available on the 2020.2.x IDEA.

[2020-08-04 19:22] NickAcPT opened #26 "Issues with `prepareSpigotPlugins`"
I'm having some issues when using `prepareSpigotPlugins` with a Gradle project with a subproject.

Here's the structure:
[code]

`ProjectB` is a dependency of `ProjectA`.

## First issue - Transitive Dependencies:

`ProjectB` depends on WorldEdit (`compileOnly(worldedit("7.2.0-SNAPSHOT"))`).

When invoking `prepareSpigotPlugins` on `:`(basically, ProjectA), it'll also execute for `ProjectB` becaus

[2020-08-08 16:27] EntryPointKR commented on #26
Hi @NickAcPT, Thank you for the report :)
I'm currently working on another project, the issues will be fixed when I have finished.

[2020-08-15 13:13] Magnum97 opened #27 "debugPaper not working with shadowJar"
I have authored plugins that use [shadow](https://github.com/johnrengelman/shadow) to compile dependencies. When run alone the shadowJar task functions fine and I get the uber jar as expected. I have added `tasks.debugPaper.dependsOn shadowJar` and the tasks run fine but in the spigot/paper plugins folder I only get the lean jar. I have the shadowJar task overwrite the lean jar with the uber jar,

[2020-08-16 03:03] EntryPointKR commented on #27
Hi @Magnum97, the jar copy task is [prepareSpigotPlugins](https://github.com/spigradle/spigradle/blob/master/docs/spigot_plugin.md#preparespigotplugins---copy), so you must make `shadowJar` depends on the `prepareSpigotPlugins` at least, the best is on [assemble](https://docs.gradle.org/current/userguide/base_plugin.html#sec:base_tasks) or jar.
You can try: `jar.dependsOn(shadowJar)`, this should

[2020-08-16 08:13] Magnum97 commented on #27
`tasks.prepareSpigotPlugins.dependsOn shadowJar` does exactly what I wanted - thanks for the help!

[2020-08-16 08:13] #27 closed

[2020-08-18 06:32] scpketer opened #28 "project.description is not copied into plugin.yml by default"
Since version and project name are copied into plugin.yml, I was assuming that project.description is copied there as well, but it's not. Would be nice if one didn't have to write something like that:

[code]

[2020-08-21 08:03] #26 closed

[2020-08-21 08:09] EntryPointKR commented on #26
Thanks @NickAcPT, Should be fixed now. If still have a issue, please post the `build.gradle` for reproduce.

[2020-08-21 08:51] EntryPointKR commented on #26
:tada: This issue has been resolved in version 2.1.2 :tada:

The release is available on:
- `v2.1.2`
- [GitHub release](https://github.com/spigradle/spigradle/releases/tag/v2.1.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-08-24 04:40] NickAcPT opened #31 "Unable to use `Spigradle` and `Spigradle Bungee` on the same project."
Intellij gives this Warning:

<i><b>root project '\<project name>': Unable to build IntelliJ project settings</b>
Details: java.lang.IllegalStateException: Could not create domain object 'prepareServer' (GradleTask)
Caused by: org.gradle.api.UnknownTaskException: Task with name 'prepareBungee' not found in root project '\<project name>'.</i>

Reproduction repo: https://github.com/NickAcPT/LoversSy

[2020-08-24 04:40] NickAcPT opened #32 "Spigradle Bungee outputs debug data to bungee.yml"
Basically, title.

The Bungee version of the Spigradle plugin is outputting debug data (read below) to the generated bungee.yml file.

Reproduction repo: https://github.com/NickAcPT/LoversSync/tree/2cee56990c2d3a903a426a234565838ba84545b1

Might be related to #31

[2020-08-24 18:49] NickAcPT commented on #31
@EntryPointKR It appears that the error message above from Intellij appears even when not using both plugins.

[2020-08-27 13:12] #28 closed

[2020-08-27 13:12] #31 closed

[2020-08-27 13:12] #32 closed

[2020-08-27 13:17] EntryPointKR commented on #28
:tada: This issue has been resolved in version 2.2.0 :tada:

The release is available on:
- `v2.2.0`
- [GitHub release](https://github.com/spigradle/spigradle/releases/tag/v2.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-08-27 13:17] EntryPointKR commented on #31
:tada: This issue has been resolved in version 2.2.0 :tada:

The release is available on:
- `v2.2.0`
- [GitHub release](https://github.com/spigradle/spigradle/releases/tag/v2.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-08-27 13:17] EntryPointKR commented on #32
:tada: This issue has been resolved in version 2.2.0 :tada:

The release is available on:
- `v2.2.0`
- [GitHub release](https://github.com/spigradle/spigradle/releases/tag/v2.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-08-27 13:31] EntryPointKR commented on #31
Thank you for the report and providing the reproduction repo @NickAcPT, this should be fixed now.

[2020-09-20 03:28] antoningfors opened #34 "Error handshake_failure with task downloadPaper"
If you run the task cleanDebug followed by downloadPaper you get the following error message.

For some reason the downloadPaper task is unable to download the Paper server JAR. It does not matter if I set the buildVersion property or not it always returns this error. If I however first run the buildSpigot task followed by downloadPaper I am able to connect to the paper download API and download t

[2020-09-20 03:42] antoningfors commented on #34
I also noticed that if I set the serverJar property in spigot.debug I am able to execute the downloadPaper task.

[2020-09-20 08:10] EntryPointKR commented on #34
Wasn't able to reproduce. Can you provide the full error log using [`-s` option](https://docs.gradle.org/current/userguide/command_line_interface.html#sec:command_line_debugging)?
ex: `./gradlew cleanDebug downloadPaper -s`

[2020-09-20 12:47] antoningfors commented on #34
FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':downloadPaper'.

* Try:
Run with --info or --debug option to get more log output. Run with --scan to get full insights.

* Exception is:
org.gradle.api.tasks.TaskExecutionException: Execution failed for task ':downloadPaper'.
        at org.gradle.api.internal.tasks.execution.ExecuteActionsTaskExecuter.lambda$

[2020-10-16 11:09] scpketer opened #35 "MockBukkit is no longer suffixing artifacts with SNAPSHOT"
[Release of MockBukkit for 1.16](https://github.com/seeseemelk/MockBukkit/tree/v1.16) does not provide an artifact with X.Y.Z-SNAPSHOT version format, and thus it can't be retrieved with Spigradle dependency handler as it's [always appending](https://github.com/spigradle/spigradle/blob/ce4df452fa3a4239f53c5230adce7ef04d43f450/src/main/kotlin/kr/entree/spigradle/kotlin/SpigotExtensions.kt#L226) `-S

[2020-11-13 10:55] Silthus opened #37 "debugSpigot/debugPaper task always uses Minecraft 1.15.2"
The `debug*` tasks do not use the version defined as mcVersion in the build.gradle dependencies. But they should use the version we define to download and build the test server.

[2020-11-21 23:13] AidanWright commented on #37
The debug tasks use the build version set in `build.gradle`. If this is not set, it defaults to 1.15.2. For example, if you want the sever to run 1.16.4, change the `build.gradle` to include,
[code]
Or, if you want it to use the mcVersion, change it to
[code]

[2020-11-22 09:34] Silthus commented on #37
Ah ok, thank you!

Aidan <notifications@github.com> schrieb am So. 22. Nov. 2020 um 00:14:

[2020-11-22 09:47] EntryPointKR commented on #37
Sorry for the lack of documentation, this will be documented ASAP also with javadocs.
Would be good if we can inference the buildVersion from the `spigot()` in dependencies.

[2020-12-01 12:38] EntryPointKR commented on #35
@scpketer Sorry for the delay!
For use kotlin 1.4 buildscript with the [`kotlin-dsl` plugin](https://docs.gradle.org/current/userguide/kotlin_dsl.html#sec:kotlin-dsl_plugin), I want to fix this when Gradle 6.8 is released.

On next patch, the fix will be:
[code]

On next major, will consider to remove the default tag for MockBukkit, also to support ignore mark `!` for ignore the default tag like:

[2020-12-04 23:53] EntryPointKR commented on #16
Now available on the 2020.3!

[2020-12-07 22:05] Ungolim opened #39 "Extend Spigradle support to Spigot and Paper 1.16.x"
Excellent plugin @EntryPointKR, I was wondering whether you guys are considering extending Spigradle support for the latest Minecraft server version (1.16.4) for at least Spigot and Paper along with their respective APIs

https://github.com/lepidotteri/ARM-Minecraft/blob/fb016fb688be41cfa6fa98c8bca730d0351fa774/build.gradle#L28

[2020-12-08 09:53] EntryPointKR commented on #39
@lepidotteri Thank you for reminding me bumping up the default version, it will be updated with upcoming Gradle 6.8.
Before the update, still you can use 1.16.4 to set the `buildVersion` manually.
Here is @AidanWright's clear example: https://github.com/spigradle/spigradle/issues/37#issuecomment-731650810.

[2020-12-27 18:42] Peda1996 opened #41 "softdepend missing"
It is not possible to define a softdepend in the spigot {} section. Is there a way to add this?

[2020-12-28 06:09] EntryPointKR commented on #41
@Peda1996 You can use [`softDepends`](https://github.com/spigradle/spigradle/blob/master/src/main/kotlin/kr/entree/spigradle/module/spigot/SpigotExtension.kt#L175) in the spigot {}.

Kotlin example:
[code]

Groovy example:
[code]

This example will be added in the spigradle-sample project.

[2020-12-28 11:00] Peda1996 commented on #41
Thanks 👍

I didn't know that I had to write Camelcase.

[2021-01-16 11:55] Silthus commented on #41
I had the same problem, thanks for the docs.

[2021-01-29 22:28] CDFN opened #42 "Downloading plugins on debug task run"
Hey, is it possible to disable downloading dependency plugins by Spigradle? It keeps downloading wrong versions of worldedit and worldguard (I guess it downloads not shaded ones). On the picture below selected JARs are downloaded from dev.bukkit.org (official download source for WE and WG). You can see they have different sizes.
![image](https://user-images.githubusercontent.com/41289688/106333750

[2021-01-29 23:24] EntryPointKR commented on #42
Hi @CDFN, as [`preparePlugins`](https://github.com/spigradle/spigradle/blob/master/src/main/kotlin/kr/entree/spigradle/module/common/DebugTask.kt#L125) task is [`CopyTask`](https://docs.gradle.org/current/javadoc/org/gradle/api/tasks/Copy.html), yes you can ignore a specific dependency.

Groovy:
[code]

Kotlin:
[code]

If you have other questions, feel free to ask here!

[2021-01-29 23:33] CDFN commented on #42
Thank you very much for quick answer, it works excellent :) I'm not closing the issue in case you want to mention about it somewhere. If you want to close it, feel free to do so. I have no more questions :D

[2021-03-04 12:32] squirtlecc opened #43 "cant executor commands"
when i using `id("kr.entree.spigradle") version "2.2.3"` in my build.kts to depend spigot 1.16.5 ,i cant execute commands in my plugin, when i delete spigradle plugin in build.kts and using `compileOnly("org.spigotmc:spigot-api:1.16.5-R0.1-SNAPSHOT")`
the command enable.

[2021-03-21 09:08] Magnum97 opened #44 "Unable to resolve Vault dependency"
I have Vault as a dependency, it is listed in the spigot block of build.gradle and is included in the generated plugin.yml.
However, when running prepareSpigotPlugins I get a message that it cannot resolve plugin dependencies. I was using 2.1.1 of Spigradle but just updated to 2.2.3 but no changes during prepare task.

Kindly let me know if I can provide any further helpful information. Thank you

[2021-04-01 14:20] EntryPointKR commented on #43
Hi @squirtlecc , I'm sorry for the late response! I couldn't encounter the issue. Could you check your plugin was enabled without error or publish a repository to let me reproduce?
Feel free to ask me if you have anything I can help or close this issue. Thanks!

[2021-04-01 15:29] EntryPointKR commented on #44
Hi @Magnum97 , I'm sorry for the late response!
Put `jitpack()` in repositories, `vaultAll()` in dependencies instead of `vault()` should be work.

[code]

`vault()` = Vault-API
`vaultAll()` = Vault (executable full .jar)
I know this can be confusing while the `spigot()` is `spigot-api`. In Spigradle 3.0, I'll re-consider this design.
Thanks!

[2021-04-02 15:44] Magnum97 commented on #44
Thank you! No worries, we are all quite busy I'm sure. I am happy to hear that this is still an active project.

[2021-04-02 15:46] #44 closed

[2021-04-11 14:49] networkException commented on #43
Maybe this is related, when I reload gradle seems to be unable to resolve spigot for 1.16.5 at all. 1.16.4 works fine though
![image](https://user-images.githubusercontent.com/42888162/114308955-cd733580-9ae5-11eb-9226-f6a52b9184ff.png)

[2021-04-12 08:35] EntryPointKR commented on #43
Hi @networkException, Thanks for the logs, but I'm ok with 1.16.5. Please upload a repository for letting me reproduce and see what happens with just use `compileOnly 'org.spigotmc:spigot-api:1.16.5-R0.1-SNAPSHOT'`.

[2021-04-12 12:41] networkException commented on #43
Now I can't seem to be able to reproduce this anymore, I'm guessing it was just a problem in the repo then

[2021-04-14 11:32] fatevase commented on #43
sorry for long time to reply you! It's all my fault, when i used this plugin i dont notice all configurations, i'm so sorry my question bothered you.

[2021-04-14 11:35] squirtlecc commented on #43
sorry for long time to reply you! It's all my fault, when i used this plugin i dont notice all configurations, i'm so sorry my question bothered you.

[2021-04-14 11:35] #43 closed

[2021-04-17 06:36] entrypointkr opened #46 "Migrate the artifact repository from JCenter"
We need to consider to migrate the artifact repository from [JCenter](https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/) which will be deprecated.
Previously I had published the artifact to both `JCenter` and [Gradle Plugin Portal](https://plugins.gradle.org/), I think most users that using `plugins {}` block will be okay they using `Gradle Plugin Portal`, but the ol

[2021-04-17 06:40] EntryPointKR commented on #43
No problems @squirtlecc, if you had any problems, just opening it up!

[2021-05-08 08:30] EntryPointKR opened #48 "Optimization disabled in Gradle 7.0"
[code]

[2021-05-08 08:33] entrypointkr opened #49 "Support multi buildtools Maven, SBT, ..."
We need to support multi build tools like Maven, SBT. It needs whole refactoring for the generalization therefore it scheduled in next major 3.0.

[2021-05-08 08:53] EntryPointKR opened #50 "Use plugin repository for the plugin dependency resolution"
Currently we just use Maven repository for the resolution. But publish a fat jar is common? I think it shouldn't. If any dev didn't publish a fat jar in Maven repo then we can't resolve it in debug task.
Hence we need to use such a API that we can get a executable fat jar for the debug task. Need to investigate is already there a API or implement ourselves.

[2021-05-08 11:58] aroooo opened #51 "[Feature] Support Java 16"
Hi, I tried using Spigradle on my project today and I encountered this error:
`Supported source version 'RELEASE_8' from annotation processor 'org.gradle.api.internal.tasks.compile.processing.TimeTrackingProcessor' less than -source '16'`

Edit: I also got this error:

`Execution failed for task ':detectSpigotMain'.
Unsupported class file major version 60`

Does this mean Java 16 is not supported

[2021-05-08 15:48] EntryPointKR commented on #34
I'm sorry for no support in a long time. To let me get some clues for fix the problem, please follow these steps:
1. In your browser, go to [link](https://papermc.io/api/v1/paper/1.16.5/latest/download) and check the download.
2. Clone this [repo](https://github.com/EntryPointKR/internet.git) and run `./gradlew testDownload`. Command:
[code]

And then let me know what happened!

[2021-05-08 15:49] EntryPointKR commented on #34
I'm sorry for no support in a long time @antoningfors . To let me get some clues for fix the problem, please follow these steps:
1. In your browser, go to [link](https://papermc.io/api/v1/paper/1.16.5/latest/download) and check the download.
2. Clone this [repo](https://github.com/EntryPointKR/internet.git) and run `./gradlew testDownload`. Command:
[code]

And then let me know what happened!

[2021-05-25 11:54] EntryPointKR commented on #51
Sorry for the delay! Until the update, we can just specify the main to avoid the error:
[code]

Also note that the annotation way can be deprecated due the build-in way will be significantly improved!

[2021-06-10 09:49] ThatBlockyPenguin opened #58 "[Enhancement] Import NMS from BuildTools"
I'm not fluent in Gradle, so I wouldn't be confident in making a pull request for this, however, seeing that Spigradle can use BuildTools to compile the server jar, would it be possible to use a similar feature to allow the importing of NMS into the dependencies. I'm thinking something along the lines of:
[code]

Which would run BuildTools, then use `mavenLocal()` to import the full jar. Would thi

[2021-06-11 07:42] entrypointkr opened #59 "Support public library resolution in spigot >= 1.17"
`libraries` option in `plugin.yml`
https://www.spigotmc.org/threads/spigot-bungeecord-1-17.510208/#post-4184317

[2021-06-11 08:23] EntryPointKR opened #60 "Improve built-in main detection performance"
Currently we have two ways for the main detection:
1. Automatic (built-in)
2. Annotation

The second one was recommended for performance reason, but now can be deprecated due to performance of the first one will be significantly improved by fully using incremental.

Now, we can write a plugin without any annotation, just keep it simple and minimal!

[2021-06-11 20:38] entrypointkr opened #61 "Don't add `spigotmc()` repository by default"
Someone suggested, don't implicitly add repositories.
Currently, spigradle adds `spigotmc`, `papermc` repositories by default.
This behind was adding such essential repositories will help to keep buildscript simple and minimal.
However, Gradle `java` plugin doesn't add `maven central` even can simpler if does. I think it's right because repositories whenever can shutdown just like JCenter, therefo

[2021-06-11 20:41] EntryPointKR commented on #59
There are two ideas:

1. Create a new configuration for define a library that will be written in the `libraries`, and manually specify dependencies with it.
[code]

2. Keep `compileOnly`, `implementation`, `api` semantics.
[code]

[2021-06-11 20:49] #48 closed

[2021-06-11 20:49] #51 closed

[2021-06-11 21:30] EntryPointKR commented on #39
:tada: This issue has been resolved in version 2.2.4 :tada:

The release is available on:
- `v2.2.4`
- [GitHub release](https://github.com/spigradle/spigradle/releases/tag/v2.2.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-06-11 21:30] EntryPointKR commented on #48
:tada: This issue has been resolved in version 2.2.4 :tada:

The release is available on:
- `v2.2.4`
- [GitHub release](https://github.com/spigradle/spigradle/releases/tag/v2.2.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-06-11 21:30] EntryPointKR commented on #51
:tada: This issue has been resolved in version 2.2.4 :tada:

The release is available on:
- `v2.2.4`
- [GitHub release](https://github.com/spigradle/spigradle/releases/tag/v2.2.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-06-13 19:33] EntryPointKR commented on #58
Feel free to open a issue if you have a problem! Any question is welcome.

[2021-06-13 19:33] #58 closed

[2021-06-13 19:38] EntryPointKR commented on #34
Closing as no response was provided.

[2021-06-13 19:38] #34 closed

[2021-06-13 22:25] embeddedt opened #62 "Add support for Mojang mappings in 1.17+"
As of 1.17, [Spigot now offers the ability to use the Mojang obfuscation mappings](https://www.spigotmc.org/threads/spigot-bungeecord-1-17.510208/#post-4184317) ("Mojmap") when developing plugins. However, it is necessary to remap the plugin JAR back to obfuscated names before running it on a server.

md_5 provides instructions on how to set this up in the linked post, but the instructions are for

[2021-06-14 08:23] EntryPointKR commented on #62
That is really good idea, yes I will provide that feature. Thank you for the great idea @embeddedt!

[2021-06-17 12:29] ThatBlockyPenguin commented on #58
Ah, thanks, didn't know this existed.

[2021-07-13 08:21] squirtlecc opened #65 ""kaptKotlin failed" when use openjdk-16"
### Description
I using openjdk-16 version 16.0.1,kotlin 1.5.10 and spigradle 2.2.4 cant build project.

When i change the openjdk to 14 or 15, there was no problem.

I tried to building jar without spigradle (jdk16) ,is normally.

### my build.gradle.kts
[code]

#### Build Task
[code]

#### Exception
[code]
#### Stack trace
[code]

[2021-08-02 09:12] Coder-Iro opened #66 "papermc groupname changed"
papermc maven groupname changed from "com.destroystokyo.paper:paper-api:$version" to "io.papermc.paper:paper-api:$version"

[2021-08-16 19:11] Emilius123 opened #68 "Java 16 not really working?"
Hi,

Sorry for the uninforming title, my problem is so:

I would like to compile my plugin using JDK 16 and Java 16 stuff. When doing so though, gradle shouts at me:
`warning: Supported source version 'RELEASE_8' from annotation processor 'org.gradle.api.internal.tasks.compile.processing.TimeTrackingProcessor' less than -source '16'
1 warning`

Only workaround is setting the entire thing to Java 8

[2021-08-24 05:42] #66 closed

[2021-10-02 19:56] entrypointkr commented on #68
@Emilius123 Even the build warnings, I can build successfully in below environments:
1. Gradle `7.2`, Gradle JVM `openjdk-16`, Spigradle `2.2.4`
2. Gradle `6.9.1`, Gradle JVM `openjdk-8`, Spigradle `2.2.4`, [Toolchain for target 16](https://docs.gradle.org/current/userguide/toolchains.html#sec:consuming)

Please note that using Gradle 6 or lower doesn't compatible with jdk16+.
If you still have th

[2021-10-02 20:01] entrypointkr commented on #65
@squirtlecc I can build successfully below environments:
1. Gradle 6.9.1, Gradle JVM `jdk-8`, Spigradle 2.2.4 with [toolchain to target 16](https://docs.gradle.org/current/userguide/toolchains.html#sec:consuming)
2. Gradle 7.2, Gradle JVM `jdk-16`, Spigradle 2.2.4

with the same `build.gradle` you posted.
I'm afraid my answer was too late, but if you still have this problem, please upload a whole

[2021-10-12 10:04] rona-tombo opened #69 "Add pupur repository and dependencies"
[Pupur](https://github.com/pl3xgaming/Purpur) is a fork of Paper that designed for configurability, and more performance.

That has an [API](https://github.com/pl3xgaming/Purpur#api) and maven repository, so could you add a helper function for this?

[2021-10-12 10:36] entrypointkr commented on #69
@rona-tombo Sure, that will be added in next minor 2.3.0.

[2021-10-12 11:07] rona-tombo commented on #65
I reproduce same issue.

## environment:
Windows 10 64bit
Project JDK: AdoptOpenJDK 16
Gradle JDK: AdoptOpenJDK 16
## whole project
https://github.com/rona-tombo/spigradle-test
## error

<details>

[code]
</details>

I tried from IntelliJ task runner and CLI, but both of them has same error.

[2021-10-12 11:34] rona-tombo commented on #65
I added these to project's `gradle.properties` , it works good!
[code]

[2021-11-05 06:43] Silthus opened #70 "Permissions configuration not compiling"
I want to configure some default permission groups inside the `permissions` block. However using groovy the gradle project does not compile:

[code]

This is the error I get:

[code]

[2021-11-05 06:45] #70 closed

[2021-11-05 06:46] Silthus commented on #70
Sorry, my dump mistake.... I mixed up the changes. Removing the default properties from the authors, name, etc. makes it work.

[code]

[2021-12-02 21:04] deeprobin opened #71 "[Bug] Debugging Paper using runSpigot fails"
## Groovy Build Script
[code]

## Log

[code]

[2021-12-02 22:23] entrypointkr commented on #71
Thank you for the report @deeprobin, it caused by using a legacy api from Spigradle.
In a workaround, you can use latest paper api to download paper jar:

[code]

And then execute `downloadPaper` task again to overwrite!

This will be fixed soon(really) from 2.2.5 or 2.3.0.

[2021-12-22 13:11] entrypointkr commented on #59
Decided the latter one.

[2021-12-22 16:09] entrypointkr commented on #65
@rona-tombo Thank you for the information, it seems fixed from Kotlin 1.6

[2021-12-23 12:08] entrypointkr commented on #62
This implemented by a independent plugin, [gradle-specialsource](https://github.com/typecraft-io/gradle-specialsource)!

[2021-12-23 12:08] #62 closed

[2021-12-23 12:31] #37 closed

[2021-12-23 12:31] #39 closed

[2021-12-23 12:31] #59 closed

[2021-12-23 12:31] #65 closed

[2021-12-23 12:31] #68 closed

[2021-12-23 12:31] #69 closed

[2021-12-23 12:31] #71 closed

[2021-12-23 14:05] entrypointkr commented on #46
No need to publish other than GradlePluginPortal

[2021-12-23 14:05] #46 closed

[2021-12-23 14:20] entrypointkr opened #73 "Publish kotlin doc page"
using Dokka

[2021-12-25 05:19] WhiteClueGaming1 opened #74 "i got this serror"

[2021-12-25 05:19] WhiteClueGaming1 commented on #74
C:\Users\AyushSaini\Desktop\New folder>java -Xmx1024M -Xms1024M -jar paperclip-1618.jar nogui
Exception in thread "main" io.papermc.fourohfour.FourOhFour:

############################################################################################
#                                                                                          #
#                                        Hey there!

[2021-12-25 05:19] WhiteClueGaming1 commented on #74
pls help

[2021-12-25 05:42] entrypointkr commented on #74
Hi @WhiteClueGaming1, this is fixed from 2.3.x, can you check Spigradle version is latest and remove the `server.jar` in debug folder and retry?

[2021-12-27 09:48] #41 closed

[2021-12-27 09:48] #42 closed

[2021-12-27 10:54] entrypointkr commented on #73
http://entree.kr/spigradle/docs/

[2021-12-27 10:54] #73 closed

[2021-12-27 12:46] entrypointkr commented on #41
:tada: This issue has been resolved in version 2.3.3 :tada:

The release is available on:
- `v2.3.3`
- [GitHub release](https://github.com/spigradle/spigradle/releases/tag/v2.3.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-12-27 12:46] entrypointkr commented on #42
:tada: This issue has been resolved in version 2.3.3 :tada:

The release is available on:
- `v2.3.3`
- [GitHub release](https://github.com/spigradle/spigradle/releases/tag/v2.3.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-01-09 20:15] rickmartensnl opened #75 "BStats implementation."
I'm trying to implement BStats with Spigradle.
I knew I had to shade BStats in my plugin with relocating the packages. When I was searching for how I could do this, I found a dependency(`com.github.johnrengelman.shadow:6.1.0`) that was working, however it broke the `prepareSpigotPlugins` task.
I am using Gradle Kotlin. Does anyone know how to add BStats with relocating the packages, or how to fix

[2022-01-09 20:25] entrypointkr commented on #75
You can use the prepare task if you do `assemble.dependsOn(shadowJar)`

[2022-01-09 20:48] rickmartensnl commented on #75
Do you have a full example? Because it is adding the Kotlin package, but not adding a relocated BStats or the normal BStats.

[2022-01-10 02:44] entrypointkr commented on #74
closing as no response was provided

[2022-01-10 02:44] #74 closed

[2022-01-10 02:46] entrypointkr commented on #75
Feel free to open a issue if you have another question!

[2022-01-10 02:46] #75 closed

[2022-02-03 13:31] entrypointkr opened #76 "create a new configuration `spigotImplementation` for the `libraries` plugin option"

[2022-02-17 00:45] Cloudate9 commented on #76
I second this. A way to disable library would be nice, especially when we want to shade libraries instead of downloading at runtime

[2022-02-25 16:44] entrypointkr opened #77 "wrong version tagging from bungeecord dependency shortcut"
Currently, `bungeecord('1.16')` results `1.16-SNAPSHOT` but since 1.16 R0.1 should be tagged as example `1.16-R0.1-SNAPSHOT`
https://oss.sonatype.org/content/repositories/snapshots/net/md-5/bungeecord-api/

[2022-02-25 16:48] entrypointkr commented on #77
`bungeecord('1.16-R0.5-SNAPSHOT')` is a workaround.
1.17-R0.1-SNAPSHOT
1.18-R0.1-SNAPSHOT

[2022-02-25 17:08] entrypointkr opened #78 "IntelliJ debug run-task doesn't generate properly in multiproject"
Should generate as name `"DebugPaper${project.name}"` on root project for each submodule.

[2022-02-26 10:06] entrypointkr opened #79 "`buildSpigot` task for 1.18 requires JDK17"

[2022-02-26 10:16] entrypointkr commented on #77
`minecraftServer()` seems same

[2022-02-26 11:44] entrypointkr commented on #76
Workaround for shadowJar
[code]

[2022-03-24 11:42] entrypointkr opened #80 "not working with spigot 1.18+"
as Spigradle applies Kapt which doesn't support jdk 17 but spigot 1.18+ needs.

[2022-04-24 08:33] entrypointkr opened #81 "remove dependency shortcut"
instead, provide IDE plugin to auto-completion

[2022-05-11 19:51] entrypointkr commented on #76
Will be fixed with `SpigotExtension#excludeLibraries` in Spigradle 2.4
To exclude `com.squareup.okhttp3:okhttp:4.9.0` library, just put `okhttp`:
[code]
[code]
Current major 2.x, the libraries being added implicitly,
But next major, I'll consider explicit declaration like `spigotImplementation`.

[2022-05-11 19:51] #76 closed

[2022-05-11 19:57] Cloudate9 commented on #76
Would using regex such as * work to exclude all?

[2022-05-11 19:58] entrypointkr commented on #76
:tada: This issue has been resolved in version 2.4.0 :tada:

The release is available on:
- `v2.4.0`
- [GitHub release](https://github.com/spigradle/spigradle/releases/tag/v2.4.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-05-11 23:41] entrypointkr commented on #76
@Cloudate9 Wildcard `*` support from 2.4.1 now, not as regex because too complex just for dependency notation, escaping dot makes ugly.

[2022-07-04 12:04] entrypointkr commented on #35
Instead the string format `!`, this explicit usage better:
[code]

[2022-07-16 12:04] StronglyHoldTV opened #83 "switch between branches in download"
Nukkit has the newest version in branch v1.19.10, in branch master is older version.

https://ci.opencollab.dev/job/NukkitX/job/Nukkit/job/v1.19.10/

[2022-08-29 22:25] ChristopherHaws opened #84 "`prepareSpigot` fails with 'Entry server.jar is a duplicate but no duplicate handling strategy has been set'"
Hello,

I am trying to get `debugSpigot` to run however I keep getting the following error when I run it. `runSpigot` works without any issues.

[code]

[2022-08-30 06:12] entrypointkr commented on #84
I recommend to use `debugPaper` instead of `debugSpigot` at this time. This will be fixed in next major changes.
Thank you for the issue @ChristopherHaws

[2022-08-30 06:27] entrypointkr commented on #83
Thanks for letting me know.
Now the master branch seems merged from v1.19.10. Is this fixed?
Also we can specify the url manually:
[code]

[2022-08-31 01:04] ChristopherHaws commented on #84
`debugPaper` does seem to work (it starts the server) however it doesn't seem to be copying the plugin into the plugins directory. I see the jar file in the `/build/lib` folder but not in `debug/plugins`. Any idea why this might be happening? I'm a C#/.NET developer of 15 years but I'm fairly new to gradle, so I'm probably doing something wrong but I can't figure it out.

Thanks!

[2022-10-15 15:29] Baaasty opened #85 "Add Waterfall"
Can u please add waterfall shotcut dependency. Thanks <3

[2022-11-12 20:03] entrypointkr opened #86 "Default version of spigot libraries depends on spigot version"
\+ docs